certifi==2017.11.5
chardet==3.0.4
cssselect==1.0.1
cssutils==1.0.2
emails==0.5.15
idna==2.6
lxml==4.1.1
premailer==3.1.1
python-dateutil==2.6.1
requests==2.18.4
six==1.11.0
urllib3==1.26.5
